

/*Header
===========================================================================================================*/
header{
    background-color: #5D5D67;
    color: #F0F1F2;
}

nav li{
    display: inline-block;
}

nav li a{
    color: white;
    font-size: 25px;
    margin: 4px;
}

.flex-espace-entre{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.acceuil{
    text-decoration: none;
    color: white;
}

